.left-sidebar {
    margin-bottom: $gap * 4;
  }
  
  .vertical-slider {
    border-radius: 4px;
    overflow: hidden;
  
    img {
      width: 100%;
    }
  } 
  .top-films {
    .panel-body {
      padding-left: 0;
      padding-right: 0;
    }
  
    .list-group {
      margin-bottom: 0;
    }
  
    .badge {
      position: absolute;
      top: 12px;
      right: 10px;
    }
  
    &-item {
      position: relative;
      padding: 0;
      border-top: 1px solid $color-gray;
      border-left: none;
      border-right: none;
      background-color: transparent;
  
      &:first-child {
        border-top: none;
        border-radius: 0;
      }
  
      &:last-child {
        border-bottom: none;
        border-radius: 0;
      }
  
      a {
        display: block;
        padding: 10px 40px 10px 25px;
      }
  
      &:hover,
      &:focus {
        background-color: $color-accent;
  
        a {
          color: $color-light;
        }
  
        .badge {
          background-color: $color-dark;
        }
      }
    }
  }
  
  .site-news__title {
     display: flex;
     justify-content: flex-end;
     padding-left: $gap *2;
    
  }  
    



 

  
    .site-news__date {
    margin-bottom: $gap;
    display: flex;
    justify-content: flex-end;
      font-size: 14px;
    }
      
    
    
   
     .site-news__block {
       
    margin-bottom: $gap;
    display: flex;
    justify-content: flex-start;
    position: relative;
    transition: background-color 0.3s;

    &:not(:last-child)::after {
      position: absolute;
      left: 85px;
      bottom: 7px;
      width: calc(100% - 85px);
      height: 2px;
      content: "";
      background-color: $color-gray;

    }

  }

